@import url(./fonts.scss);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: Geometria;
    margin: 0;
}

.container {
    max-width: 1380px;
    padding: 10px;
    margin: 0 auto;
}
.nav-item {
    font-size: 18px;
    color: #333333 !important;
}
.contactsTel {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
    & a {
        color: #333333;
        text-decoration: none;
        font-size: 18px;
    }
}
.lineSearch {
    width: 77px;
    border: none;
    border-bottom: 1px dashed #333333;
    margin-right: 50px;
}
.consultationBtn {
    width: 148px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: white;
    margin-top: 10px;
}
.containerModal {
    position: fixed;
    z-index: 99;
    margin: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    .myModal {
        width: 447px;
        height: 359px;
        border-radius: 8px;
        background-image: url(../assets/img/bgForm.png);
        padding: 30px 0 0 26px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 10%;
        .modal__formCloseIcon {
            width: 17px;
            height: 17px;
            background-image: url(../assets/img/Style.png);
            position: absolute;
            top: 6px;
            right: 6px;
            cursor: pointer;
        }
        .modal__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 330px;
            height: 290px;
            .modal__formTitle {
                font-weight: 600;
                font-size: 20px;
                line-height: 124%;
                color: #333333;
                margin-bottom: 10px;
            }
            label {
                display: block;
                width: 100%;
                .modal__formInput {
                    display: block;
                    height: 43px;
                    background: #f4f4f4;
                    border: 1px solid #828282;
                    border-radius: 8px;
                    width: 100%;
                    padding-left: 20px;
                    &:focus {
                        outline: none;
                        border-color: black;
                    }
                }
            }

            .modal__formBtm {
                display: block;
                width: 223px;
                height: 43px;
                background: #ffdb2d;
                border-radius: 8px;
                font-size: 15px;
            }
        }
    }
}
.invalid-feedback {
    text-align: right;
}
.containerModal_open {
    display: block;
}
.counter {
    display: none;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    color: #219653;
}
.counter_open {
    display: block;
}
.page {
    line-height: 128%;
    font-size: 18px;
    color: #333333;
    margin: 90px 0 10px 0;
}
.titleBox {
    width: 440px;
    margin-bottom: 40px;
    .titleBox__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 132%;
        color: #333333;
    }
    .titleBox__subTitle {
        font-size: 16px;
        line-height: 130%;
    }
}
.contant {
    background-image: url(../assets/img/bgContent.png);
    background-repeat: no-repeat;
    background-size: 66% auto;
    background-position-x: right;
    background-position-y: 628px;
    .accordionBox {
        display: flex;
        justify-content: space-between;
        .accordionBox__contant {
            display: flex;
            justify-content: space-between;
            margin-bottom: 70px;
            width: 100%;
            .accordionBox__title {
                width: 215px;
                & h2 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    color: #333333;
                }
                .accordionBox__titleDecoration {
                    width: 193px;
                    height: 2px;
                    background: #ffdb2d;
                    margin-left: 20px;
                }
            }
            .accordionBox__accordions {
                width: 90%;
                .accordionBox__item {
                    width: 95%;
                    padding: 26px 30px;
                    background: #f4f4f4;
                    border-radius: 8px;
                    margin-bottom: 5px;
                    margin-left: 20px;
                    position: relative;
                    .accordionBox__itemTitle {
                        width: 95%;
                        font-weight: 600;
                        font-size: 16px;
                        color: #333333;
                        position: relative;
                        &::after {
                            content: url(../assets/img/openNormal.png);
                            width: 19px;
                            height: 19px;
                            position: absolute;
                            right: -30px;
                            top: 20%;
                            bottom: 20%;
                        }
                        &:hover::after {
                            content: url(../assets/img/openActive.png);
                        }
                    }

                    .accordionBox__itemContant {
                        font-size: 16px;
                        line-height: 130%;
                        font-weight: 400;
                        width: 85%;
                        margin: 20px auto;
                        display: none;
                        transition: 0.3s ease-in-out;
                    }
                }
                .accordionBox__item_open .accordionBox__itemContant {
                    width: 92%;
                    display: block;
                }
                .accordionBox__item_open .accordionBox__itemTitle {
                    &::after {
                        content: url(../assets/img/closeNormal.png);
                    }
                    &:hover::after {
                        content: url(../assets/img/closeActive.png);
                    }
                }
            }
        }
        .accordionBox__chat {
            min-width: 447px;
            height: 764px;
            background: #e0e0e0;
            border-radius: 8px;
            padding-top: 157px;
            & div {
                font-weight: 500;
                font-size: 20px;
                color: #333333;
                text-align: center;
            }
        }
    }
}
.footerBox {
    background: #333333;
    padding: 80px 0;
    .footerBox__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .footerBox__textBox {
            max-width: 563px;
            color: #e0e0e0;
            display: flex;
            flex-direction: column;
            .footerBox__title {
                font-weight: bold;
                font-size: 30px;
                line-height: 38px;
                margin-bottom: 40px;
            }
            .footerBox__contacts {
                margin-bottom: 40px;
                .footerBox__departmentName {
                    font-size: 16px;
                    line-height: 20px;
                }
                .footerBox__departmentTel {
                    display: flex;
                    justify-content: space-between;
                    width: 300px;
                    & a {
                        text-decoration: none;
                        color: #e0e0e0;
                        font-size: 16px;
                    }
                }
            }
            .footerBox__links {
                display: flex;
                justify-content: space-between;
                padding-right: 30px;
                .footerBox__pages {
                    display: flex;
                    flex-direction: column;
                    & a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 300%;
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
                .footerBox__adress {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 300%;
                    text-decoration: none;
                    color: #ffffff;
                    & a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
        .footerBox__mapBox {
            .footerBox__map {
                width: 797px;
                height: 643px;
                background-image: url(../assets/img/map.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
}
.infoBox {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 10px 30px;
    font-size: 16px;
    color: #333333;
    & p {
        margin: 0;
    }
}

@media (max-width: 1390px) {
    .contactsTel {
        margin: 0;
    }
    .contant {
        background-position-y: bottom;
        .accordionBox {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .accordionBox__contant {
                display: flex;
                justify-content: space-between;
                margin-bottom: 70px;
            }
            .accordionBox__chat {
                width: 550px;
                height: 320px;
                margin-bottom: 60px;
            }
        }
    }
    .footerBox {
        .footerBox__content {
            flex-direction: column;
            align-items: center;
            .footerBox__textBox {
                margin-bottom: 60px;
            }
            .footerBox__mapBox {
                .footerBox__map {
                    width: 500px;
                    height: 400px;
                }
            }
        }
    }
}
@media (max-width: 950px) {
    .contant {
        .accordionBox {
            .accordionBox__contant {
                flex-direction: column;
                .accordionBox__title {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .titleBox {
        width: 300px;
    }

    .contant {
        background: none;
        .accordionBox {
            .accordionBox__contant {
                .accordionBox__accordions {
                    .accordionBox__item {
                        padding: 26px 15px;
                        .accordionBox__itemTitle {
                            width: 85%;
                        }
                    }
                }
            }
            .accordionBox__chat {
                width: 300px;
                height: 200px;
                margin-bottom: 60px;
                padding-top: 50px;
            }
        }
    }

    .footerBox {
        .footerBox__content {
            .footerBox__links {
                flex-direction: column;
            }
            .footerBox__mapBox {
                .footerBox__map {
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }
}
@media (max-width: 440px) {
    .titleBox {
        max-width: 290px;
    }
    .contant {
        .accordionBox {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .accordionBox__contant {
                .accordionBox__title {
                    width: 215px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto 20px auto;
                    text-align: center;
                    & h2 {
                        font-size: 20px;
                    }
                    .accordionBox__titleDecoration {
                        width: 193px;
                        height: 2px;
                        background: #ffdb2d;
                    }
                }
                .accordionBox__accordions {
                    .accordionBox__item {
                        width: 100%;
                        padding: 15px 10px;
                    }
                }
            }
            .accordionBox__chat {
                min-width: 300px;
                height: 200px;
                margin-bottom: 60px;
            }
        }
    }
    .footerBox {
        .footerBox__content {
            .footerBox__links {
                flex-direction: column;
            }
            .footerBox__mapBox {
                .footerBox__map {
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }
}
